[Unit]
Description=DomFlatcar
Requires=backend-ready@bridge.service
After=backend-ready@bridge.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/xl create /etc/xen/dom-flatcar.cfg
ExecStop=/usr/sbin/xl destroy DomFlatcar
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
