[Unit]
Description=DomAGL-IC
Requires=backend-ready@bridge.service
After=backend-ready@bridge.service

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c 'if [ "$(systemctl is-enabled doma.service 2>/dev/null)" = "enabled" ]; then sleep 5; fi'
ExecStart=/usr/sbin/xl create /etc/xen/domagl-ic.cfg
ExecStop=/usr/sbin/xl destroy DomAGL-IC
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
